/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
/* ==========================================================================
   General classes
   ========================================================================== */
  .seccion{
    padding: 30 0;
  }
  .seccion p{
    font-size: 1.2em;
    text-align: center;
  }
  h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
  }
  h2::after{
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
  }
  h3{
    font-size: 1.8em;
    color: #fe4918;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
  }
  .button{
    font-family: 'Oswald', sans-serif;
    background-color: #fe4918;
    padding: 10px 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease;
    border: 2px solid #fe4918;
  }
  .button.hollow,
  .button.hollow:hover{
    background-color: white;
    color: #fe4918;
  }
  .button.transparente{
    background-color: transparent;
    border: 2px solid #fff;
  }
  .button.transparente:hover{
    border: 2px solid #fe4918;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .button:hover{
    background-color: #e33000;;
  }
  .float-right{
    float: right;
  }
  .contenedor{
    width: 98%;
    margin: 0 auto;
  }
  @media only screen and (min-width:480px ) {
    .contenedor{
      width: 95%;
    }
  }
  @media only screen and (min-width:768px ) {
    .contenedor{
      width: 90%;
    }
  }
  @media only screen and (min-width:992px ) {
    .contenedor{
      width: 90%;
      max-width: 1000px;
    }
  }
/*
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

/*Header */
div.hero{
  height: 100vh;
  background-image: url(../img/encabezado.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
div.contenido-header{
    padding-top: 40px;
}
@media only screen and (min-width:768px ) {
  div.contenido-header{
    padding-top: 10px;
  }
}
nav.redes-sociales{
  text-align: center;
}
nav.redes-sociales a{
  color: #fff;
  font-size: 2em;
  margin-right: 20px;
  transition: all .5s ease;
}
nav.redes-sociales a i{
  transition: all .5s ease;
}
nav.redes-sociales a i.fa-facebook-f:hover,nav.redes-sociales a i.fa-twitter:hover{
  color: dodgerblue;
}
nav.redes-sociales a i.fa-pinterest:hover,nav.redes-sociales a i.fa-youtube:hover{
  color: rgb(175, 15, 15);
}
nav.redes-sociales a i.fa-instagram:hover{
  color: rgb(179, 131, 143);

}
nav.redes-sociales a:last-child{
  margin: 0;
}
@media only screen and (min-width:768px ) {
  div.informacion-evento{
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
div.contenedor.clearfix{
  width: 90vw;
}
div.informacion-evento{
  text-align: center;
  color: #fff;
}
div.informacion-evento p{
  margin: 0;
  display: inline;
  font-size: 2vw;
  text-transform: uppercase;
}

div.informacion-evento p i{
  color: #fe4918;
  font-size: 2.5rem;
}
@media only screen and (max-width:1100px){
  div.informacion-evento p i{
    font-size: 2rem;
  }
  div.informacion-evento p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width:800px){
  div.informacion-evento p i{
    font-size: 1.7rem;
  }
  div.informacion-evento p {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width:500px){
  div.informacion-evento p {
    font-size: 1rem;
  }
}
p.fecha{
  float: left;
}
p.ciudad{
  float: right;
}
.informacion-evento p.slogan{
  text-transform: none !important;
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  -webkit-text-stroke: 0.4px black;
  text-shadow:
  0px 0px 20px rgb(0, 0, 0),
  0px 0px 20px rgb(0, 0, 0),
  0px 0px 20px rgb(0, 0, 0);
}
p.slogan span{
  font-weight: bold;
  -webkit-text-stroke: 0px white;
}
h1.nombre-sitio{
  font-size: 15.4vw;
  margin: -12px 0px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}
/*Lettering*/
h1.nombre-sitio span{
  position: relative;
  transition: all 0.9s ease;
  text-shadow: 0 0 30px black;
}
h1.nombre-sitio span:hover{
  cursor: default;
  text-shadow: 0 0 72px black;
  color: transparent;
  transition: all 0.2s ease;
}

@media only screen and (min-width:992px){
  .char1,.char10{
    font-size: 14vw;
  }
  .char4{
    font-size: 13vw;
  }


}

@media only screen and (min-width:768px ) {
  h1.nombre-sitio{
    font-size: 11.5vw;
    margin-bottom: 2vh;
    line-height: 1;
  }
}
/*  Barra */
div.barra{
  background-color: #353535;
  padding: 20px 0;
}
.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
div.logo{
  width: 80%;
  float: left;
}
div.logo a img{
  width: 100%;
  transition: all .5s ease;
  cursor: pointer;
}
@media only screen and (min-width:768px ) {
  div.logo{
    width: 33%;
  }
}
/** Nav Principal**/
nav.navegacion-principal{
  display: none;
  width: 100%;
}

nav.navegacion-principal a{
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  transition: all .5s ease;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}
nav.navegacion-principal a:last-child{
  margin-bottom: 0px;
}
nav.navegacion-principal a:hover{
  background-color: #fe4918;

}
nav.navegacion-principal a:last-child{
  border: 2px solid #fe4918;
  color: #fe4918;
}
nav.navegacion-principal a:last-child:hover{
  color: #fff;
}
nav.navegacion-principal a.activo{
  border-bottom: 4px solid #fe4918;
}
@media only screen and (min-width: 768px) {
  nav.navegacion-principal a{
    margin-right: 10px;
    padding: 10px;
    line-height: 60px;
    display: inline-block;
    width: auto;
    display: inline;
    text-align: center;
    margin-bottom: 0 10px 0 0;
  }
  nav.navegacion-principal{
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }
}
/*  Menu movil*/
div.menu-mobil{
  width: 13vw;
  display: block;
  float: right;
  text-align: right;
  margin-top: 2vh;
}
@media only screen and (max-width: 378px) {
  div.menu-mobil{
    margin-top: 0.4vh;
  }
}
div.menu-mobil:hover{
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  div.menu-mobil{
    display: none;
  }
}
div.menu-mobil span{
  height: 8px;
  margin-bottom: 6px;
  background-color: #fff;
  display: block;
}
/*Talleres*/
section.programa{
  position: relative;
}
div.contenedor-video{
  max-width: 100%;
  overflow-x: hidden;
}
div.contenedor-video video{
  max-height: 125vh;
}
@media only screen and (max-width: 520px) {
  div.contenedor-video video{
    height: 900px;
  }
}
@media only screen and (max-width: 768px) {
  div.contenedor-video video{
    width: 370vw;
    max-height: 130vh;
    margin-left: -190vw;
  }
}
@media only screen and (min-width: 769px) {
  div.contenedor-video video{
    max-height: 130vh;
  }
}
div.contenido-programa{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
div.programa-evento{
  background-color: rgba(255, 255, 255, 0.65);
  padding: 15px;
  margin-top: 80px;
  border: 1px solid rgba(146, 146, 146, 0.226)
}
@media only screen and (max-width: 767px) {
  div.programa-evento{
    margin: 40px 1rem 1rem 1rem;
  }
}
@media only screen and (min-width: 768px) {
  div.programa-evento{
    width: 70%;
    margin-top: 5vh;
  }
}
@media only screen and (min-width: 992px) {
  div.programa-evento{
    width: 50%;

  }
}
nav.menu-programa{
  width: 100%;
  border-bottom: 1px solid #fe4918;

}
@media only screen and (min-width: 570px) {
  nav.menu-programa{
    display: table;
  }
}
nav.menu-programa a{
  display: block;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 1.4em;
  margin-right: 10px;
  display: table-cell;
  position: relative;
}
nav.menu-programa a i{
  color: #fe4918;
  font-size: 1.1em;
}
nav.menu-programa a.activo::after{
  position: absolute;
  content:'';
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  height: 20px;
  width: 30px;
  bottom: -20px;
  background-image: url(../img/talleres-flecha.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 10px;

}
@media only screen and (min-width: 570px) {
  nav.menu-programa a{
    display: table-cell;
  }
}
/* Detalle evento*/
div.detalle-evento{
  margin-top: 20px;
  border-bottom: 1px solid #fe4918;
}
div.detalle-evento:nth-last-child(2){
  border:none;
}
div.detalle-evento p{
  margin-bottom: 20px;
  font-size: 20px;
}
div.detalle-evento p i{
  margin-right: 0.5rem;
}
/*  Invidatos */
@media only screen and (min-width:400px) {
  body > section:nth-child(5){
    margin-top: 4.5vh;
  }
}
@media only screen and (min-width: 250px) {
  body > section:nth-child(5){
    margin-top: 12.5vh;
  }
}
ul.lista-invitados li{
  padding: 10px;
  float: left;
  width: 50%;
}
@media only screen and (min-width: 768px) {
  ul.lista-invitados li{
    width: 33.3%;
  }
}
div.invitados{
  position: relative;
  overflow: hidden;
}
div.invitados img{
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  backdrop-filter: grey;
  -webkit-backdrop-filter: grayscale(1);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}
div.invitados:hover img{
  filter: gray;
  backdrop-filter: grey;
  -webkit-filter: grayscale(0);
  -webkit-backdrop-filter: grayscale(1);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
div.invitados p{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin: 0;
  background-color: rgb(0, 0, 0, .55);
  width: 100%;
  color: #fe4918;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}
div.invitados:hover p{
  bottom: -80px;
  opacity: 0;
}

/**  Section Contador   **/
.parallax::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(.8);
  filter: brightness(.8);
}
div.contador{
  margin-top: 3.5vh;
  position: relative;
  height: auto;
}
div.contador::before{
  background-image: url(../img/bg-resumen.jpg);
  content: '';
}
ul.resumen-evento{
  position: relative;
  padding: 120px 0;
}
ul.resumen-evento li{
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
@media only screen and (min-width: 768px) {
  ul.resumen-evento li{
    width: 25%;
  }
}
p.numero{
  color: #fe4918;
  font-size: 3em;
  display: block;
  margin:  0 0 10px 0;
  font-family: 'Oswald', sans-serif;
}
/*  Tabla de precios*/
section.precios{
  overflow: hidden;
}
ul.lista-precios > li {
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  ul.lista-precios > li {
    float: left;
    width: 33.3%;
  }
}
div.tabla-precios{
  border: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
  margin-bottom: 25px;
  transition: all .3s;
}
div.tabla-precios:hover{
  transform: scale(1.1);
  border: 1px solid #fe4918;
  box-shadow: 0px 0px 50px #666;
}
div.tabla-precios ul li::before{
  font-family: 'Font Awesome 5 Free'; font-weight: 900;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-size: 20px;
  color: green;
  -webkit-font-smoothing: antialiased;
  content: "\f00c";
}
div.tabla-precios ul li{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #868686;
  line-height: 26px;
}
div.tabla-precios h3{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
div.tabla-precios p.numero{
  color: #000;
  margin-top: 20px 0;
}
  /** MAPA **/
div.mapa{
  height: 420px;
  width: 100%;
}
/** Testimoniales**/
div.testimoniales{
  padding-bottom: 20px;
}
div.testimonial{
  padding: 5px;
}
@media only screen and (min-width: 768px) {
  div.testimonial{
   width: 33.3%;
   float: left;
  }
}
blockquote{
  background: #fff;
  border: 1px solid #e1e1e1;
  position: relative;
  margin: 0 0 10px 0;
  padding-bottom: 20px;
}
blockquote p{
  text-align: justify !important;
  font-size: .8em !important;
  font-family: 'PT Sans', sans-serif;
  padding: 0 20px 0 65px;
}
blockquote p::before{
  content: '\201c';
  position: absolute;
  left: 13px;
  top: 0;
  font-size: 8rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fe4918;
}
footer.info-testimonial{
  padding: 0;
  margin-top: 20px;
  background-color: transparent;
}
footer.info-testimonial img{
  float: left;
  width: 20%;
  border-radius: 50%;
  margin-left: 20px;
}
footer.info-testimonial cite{
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 20px;
  width: 66.6%;
  float: right;
  font-weight: bold;
  font-style: normal;
}
footer.info-testimonial cite span{
  color: #000;
  display: block;
  font-weight: lighter;
  text-transform: none;
}
/* Newsletter */
div.newsletter{
  position: relative;
  height: auto;
}
div.newsletter::before{
  background-image: url(../img/bg-newsletter.jpg);
  content: '';
}
div.newsletter .contenido{
  padding: 100px 0;
  color: #fff;
  text-align: center;
  position: relative;
}
div.newsletter .contenido p{
  font-size: 1.2em;
  text-transform: lowercase;
}
div.newsletter .contenido h3{
  color: #fff;
  text-transform: uppercase;
  font-size: 7vw;
  font-family: 'PT Sans', sans-serif;
}
/** Cuenta Regresiva**/
div.cuenta-regresiva ul li{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  div.cuenta-regresiva ul li{
    width: 25%;
    float: left;
  }
}
/* Footer */
footer{
  background-color: #353535;
  padding-top: 40px;
  margin-top: 20px;
}
footer .contenedor > div{
  color:  #fff;
  padding: 0px 20px;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  footer .contenedor > div{
    width: 33.3%;
    float: left;
  }
}
footer h3{
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
}
footer h3 span{
  color: #fe4918;
}
footer .ultimos-tweets{
  margin-bottom: 10px;
}
footer nav .redes-sociales{
  text-align: left;
}
/* COPYRIGHT */
p.copyright{
  margin: 20px 0 0 0;
  background: #2e2e2e;
  padding: 10px 0px;
  color: #fff;
  text-align: center;
}




/*** INTERNAS ***/
/*  REGISTRO*/
form.registro h3{
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}
form.registro label{
  margin-bottom: 5px;
  font-weight: bold;
}
h4{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #fe4918;
  padding: 10px;
  font-size: 1.2em;
}
div.caja{
  background-color: white;
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin: 10px;
}

div.campo{
  padding: 20px
}
@media only screen and (min-width: 768px) {
  div.campo{
    float: left;
    width: 33.3%;
  }
}
div.paquetes .tabla-precios:hover{
  transform: none;
  box-shadow: none;
}
div.paquetes .tabla-precios input{
  clear: both;
  width: 100px;
  margin: 10px auto 0 auto;
  display: block;
}
.contenido-dia{
  padding: 20px;
  display: none;
}
@media only screen and (min-width: 768px) {
  .contenido-dia > div{
    float: left;
    width: 33.3%;
  }
}
.contenido-dia > div p{
  text-align: left;
  font-weight: bold;
}
.contenido-dia > div label{
  display: block;
  margin-bottom: 10px;
  font-weight: lighter;
}
.contenido-dia > div input{
  margin-right: 10px;
}
.contenido-dia > div label time{
  color: #fe4918;
}

/** RESUMEN REGISTRO **/
div.resumen p{
  font-size: 1.2rem;
  text-transform: uppercase;
}

div.resumen div.extras{
  float: left;
  width: 50%;
  padding: 30px;
}

div.extras div.orden{
  text-align: left;
  margin-bottom: 10px;
}
div.extras div.orden input {
  margin: 10px 0 0 0;
}
div.resumen div.total{
  float: right;
  width: 50%;
  padding: 30px;
}
div.resumen input{
  display: block;
  margin: 10px auto;
}

#lista-productos{
  background-color: #e1e1e1;
  border-radius: 10px;
}

#suma-total{
   font-size: 2rem;
   color: #fe4918;
   text-align: center;
}
input[disabled].button{
  opacity: .5;
}
#error{
  display: grid;
  grid-template-columns: 35px 200px;
  clear:both;
  color: red;
}
#error #i {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
  color: red;
  content: "\f071";  -webkit-font-smoothing: antialiased;
}

/*galeria*/

div.galeria{
  margin-left: -2.3vw;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  align-content: center;

}
div.galeria a{
  justify-self: center;
  overflow: hidden;
}
div.galeria a img{
  justify-self: center;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}
div.galeria a:hover img{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  border-radius: 5px;
}

@media only screen and (max-width: 1320px) {
  div.galeria{
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
  }

}
@media only screen and (max-width: 800px) {
  div.galeria{
    margin-left: 0vw;
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 640px) {
  div.galeria{
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}
@media only screen and (max-width: 425px) {
  div.galeria{
    grid-template-columns: 1fr;
  }
}

/** Calendario **/
div.calendario h3{
  background-color: #fe4918;
  clear: both;
  color: white;
  text-align:center;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 10px 0;
  margin: 4px 0;
}
div.calendario::after{
  clear: both;
  display: block;
  content: '';
}
div.dia{
  width: 50% ;
  float: left ;
  border: 2px solid #e1e1e1;
  transition: all .3s ease;
  min-height: 217px;
}
@media only screen and (min-width:768px){
  div.dia{
    width: 33.3%;
    min-height: 210px;
  }
}
div.dia:hover{
  background-color: #e1e1e1;
  -webkit-transform: scale(1.1);
}
div.dia p.titulo{
  color: #fe4918;
  text-transform: uppercase;
  font-weight: bold;
}
div.dia p{
  font-size: 1em;
}
div.dia i{
  color: #fe4918;
  font-size: 1.6em;
}

/*Color-Box*/
div.cboxElement{
  padding: 30px !important;
  text-align: center;
}
div.cboxElement h2{
  margin: 0.7rem 0;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
*/

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
